body{

    background-color:antiquewhite;
}

h1{

    background-color: rgb(255, 255, 255);
    color: rgb(66, 138, 201);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 60px;
    margin: 0px;
}


.totalBox{

    background-color:white;
    margin: 40px 500px;  
}


     /* BOX 1 */

.top{

    padding: 15px 15px;
    display: inline-block;
    width: 379px;
}

.icon{

    width: 30px;
    float: right;
    padding-top: 6px;   
}

.racoon{

    width: 30px;
    float: left;
    padding-top: 5px;
}

.name{

    margin: 0px 0px 0px 15px;
    display: inline;
    font-family: 'helvetica';
}

.place{

    margin: 5px 0px 0px 44px;
    font-family: 'helvetica';
}




     /* BOX 2 */

.middle{

    margin: 5px 0px;
  

    
}

.photo{

    width: 100%;
    box-sizing: content-box;
}


     /* BOX 3 */


.bottom{
   
    padding: 0px 15px;
}

.icons-bottom{ 
    
    display: inline-block;
}

.tag{

    width: 20px;
    float: right;  
}

.heart{

    width: 20px;
    padding-left: 5px;
}
.sandw{

    width: 20px;
    padding-left: 5px;
}
.plane{
    
    width: 20px;
    padding-left: 5px;

}

.like{

    padding-top: 15px;
    font-family: 'helvetica';
}

.text{

    padding: 15px 0px;
    font-family: 'helvetica';  
}